<div class="row">
                <div class="col-md-12">
                  <div class="card shadow mb-4">
                    <div class="card-header">
                      <strong class="card-title">Sản phẩm {{p.product_id}}</strong>
                    </div>
                    <div class="card-body">
                      <form method="POST" onsubmit="return checkSp()" enctype="multipart/form-data">
                        <div class="form-row">
                          
                            <label for="inputEmail4">Tên</label>
                            <input type="text" class="form-control" id="ten-sp" value="{{p.product_name}}" name="name">
                          
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="inputState">Loại</label>
                            <select id="category" class="form-control" name="category_id">
                              {{#each dsl}}
                                {{#if selected}}
                                  <option value = "{{id}}" selected >{{name}}</option>
                                {{else}}
                                  <option value = "{{id}}">{{name}}</option>
                                {{/if}}
                              {{/each}}
                            </select>
                          </div>
                        
                          <div class="form-group col-md-2">
                            <label for="inputZip">Tồn</label>
                            <input type="text" class="form-control" id="sl-ton" value="{{p.inventory_quantity}}" name="inventory_quantity">
                          </div>
                          <div class="form-group col-md-3">
                            <label for="inputZip">Giá</label>
                            <input type="text" class="form-control" id="gia" value="{{p.price}}" name="price">
                          </div>
                          <div class="form-group col-md-3">
                            <label for="inputZip">Giảm giá (%)</label>
                            <input type="text" class="form-control" id="giam" value="{{p.discount}}" name="discount">
                          </div>
                        </div>
                        
                        <div class="form-row">
                          <label for="validationTextarea1">Mô tả</label>
                          <textarea class="form-control" id="validationTextarea1" required="" rows="3" name="description">{{p.description}}</textarea>
                          <div class="invalid-feedback"> Please enter a message in the textarea. </div>
                        </div>

                        
                        

                        
                        <div class="form-row">
                          <label for="validationTextarea1">Hình ảnh</label>
                        </div>
                        <div class="form-row">
                            <input class="btn" type = "file" name="image"  accept=".jpg, .png, .gif, .jpeg">
                        </div>

                        <div class="form-row">
                            <p class="chu-do" id="error">{{error}}</p>
                        </div>

                        <div class="form-row ">
                          <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                        
                      </form>
                    </div> <!-- /. card-body -->
                  </div> <!-- /. card -->
                </div> <!-- /. col -->
              </div> <!-- /. end-section -->